---
http_interactions:
- request:
    method: get
    uri: http://timetableapi.ptv.vic.gov.au/v3/departures/route_type/3/stop/1071?devid=1234&signature=9bf3d4daf9a1873a16869b16e630248a997e1f89
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"departures":[{"stop_id":1071,"route_id":1823,"run_id":12269,"direction_id":11,"disruption_ids":[178780],"scheduled_departure_utc":"2019-07-18T19:35:00Z","estimated_departure_utc":null,"at_platform":false,"platform_number":null,"flags":"S_WCA-S_VTR-RUN_0-PUO","departure_sequence":0},{"stop_id":1071,"route_id":1720,"run_id":16673,"direction_id":16,"disruption_ids":[],"scheduled_departure_utc":"2019-07-18T19:35:00Z","estimated_departure_utc":null,"at_platform":false,"platform_number":null,"flags":"S_WCA-S_VTR-RUN_0-PUO","departure_sequence":0},{"stop_id":1071,"route_id":1722,"run_id":43149,"direction_id":40,"disruption_ids":[],"scheduled_departure_utc":"2019-07-18T19:35:00Z","estimated_departure_utc":null,"at_platform":false,"platform_number":null,"flags":"S_WCA-S_VTR-RUN_[...]
